# SPDX-FileCopyrightText: 2023 Stephan Lachnit <stephanlachnit@debian.org>
# SPDX-License-Identifier: CC0-1.0

root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{hpp,tpp,cpp}]
indent_style = space
indent_size = 4

[meson.build]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 2
